
 body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: rgb(255,153,0);
}

.heading {
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: #333;
  color: #fff;
}

.container {
  width: 80%;
  margin: 0 auto;
  text-align: center;
}

a {
  display: block;
  width: 150px;
  height: 50px;
  line-height: 50px;
  margin: 0 auto;
  margin-top: 100px;
  background-color: #333;
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
}

a:hover {
  background-color: #444;
}
   
  