<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Home</title>
<link rel=stylesheet type="text/css" th:href="@{/Adminhome.css}">
</head>
<body>
<p>Admin Home Page</p>
<form action="Newsong" >
 <input type="submit" value="ADD SONG"> 
 </form>
 <br>
 <br>
 <form action="viewsongs">
 <input type="submit" value="view songs">
 </form>
 <br>
 <br>
 <form action="createplaylists">
 <input type="submit" value="create playlists">
 </form>
  <br>
 <br>
 <form action="viewplaylists">
 <input type="submit" value="view playlists">
 </form>
</body>
</html>