<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Customer</title>
<link rel=stylesheet type="text/css" th:href="@{/Customerhome.css}">
</head>
<body>
  <p>Customer home page</p>
  <br>
  <br>
  <!-- <form action="viewsongs">
  <input type="submit" value="VIEW SONG">
  </form> -->
  <form action="pay">
  <input type="submit" value="GET PERMIUM">
  </form>
  <br>
  <br> 
  <form action="logout">
  <input type="submit" value="logout">
  </form> 
  
</body>
</html>