/* Adminhome.css */

body {
    font-family: Arial, sans-serif;
    background-color: orange;
    margin: 0;
    padding: 0;
}

p {
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    margin-top: 20px;
}

form {
    text-align: center;
    margin-top: 20px;
}

input[type="submit"] {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin-bottom: 10px;
}

input[type="submit"]:hover {
    background-color: #45a049;
}

input[type="submit"]:focus {
    outline: none;
}

/* Optional: Adjust spacing between forms */
form + form {
    margin-top: 10px;
}
img {
    max-width: 100%; /* Ensure the image doesn't exceed its container's width */
    height: auto; /* Maintain the image's aspect ratio */
    display: block; /* Remove any default inline styling */
    margin: 0 auto; /* Center the image horizontally */
}