body {
	text-align:center;
    font-family: Arial, sans-serif;
    background-color:orange;
    margin: 0;
    padding: 0;
}
h1 {
	background-color:gold;
    color: green; 
    text-align: center;
}@charset "UTF-8";